.navbar-toggler{
  color: #fff;
}
.header{
  padding: 24px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  &.sticky-header{
    background: #0F1013;
  }
  .navbar-expand-lg{
    padding: 0;
    .navbar-nav.menu-header{
      .nav-item{
        margin-left: 24px;
      }
      .nav-link{
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        padding: 0;
        display: inline-block;
      }
    }

    .navbar-nav.menu-header-swap{
      background: #0F1013;
      padding: 4px 2px;
      -webkit-border-radius: 16px;
         -moz-border-radius: 16px;
              border-radius: 16px;
      .nav-item{
        margin: 0 2px;
        &.active{
          .nav-link{
            background: #25262D;
            font-weight: bold;
            color: #fff;
          }
        }
        &:hover{
          .nav-link{
            background: #25262D;
            font-weight: bold;
            color: #fff;
          }
        }
      }
      .nav-link{
        color: #7C809D;
        font-size: 16px;
        line-height: 20px;
        padding: 6px 4px;
        width: 80px;
        text-align: center;
        -webkit-border-radius: 12px;
           -moz-border-radius: 12px;
                border-radius: 12px;
        display: inline-block;
      }
    }
  } 
}
.header__btn-connect{
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: rgba(60, 113, 255, 0.32);
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
  padding: 10px 16px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 0;
  outline: none;
  &:hover{
    background: #fff;
    color: rgba(60, 113, 255, 1);
  }
}

.header__btn-swap{
  border: 0;
  background: #0F1013;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
  outline: none;
  color: #fff;
  font-size: 18px;
  padding: 8px 10px;
  display: inline-block;
}

.navbar-toggler{
  outline: none;
  &:focus{
    outline: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
}

.button-launch{
  background: -webkit-gradient(linear, left top, right top, from(#1552EF), to(#5B15EF));
  background: -webkit-linear-gradient(left, #1552EF 0%, #5B15EF 100%);
  background: -moz-linear-gradient(left, #1552EF 0%, #5B15EF 100%);
  background: -o-linear-gradient(left, #1552EF 0%, #5B15EF 100%);
  background: linear-gradient(90deg, #1552EF 0%, #5B15EF 100%);
  -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
          border-radius: 16px;
  padding: 7px 16px!important;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  &:hover{
    color: #5B15EF!important;
    background: #fff;
  }
}