.page__home{
  background: url(../images/bg-home.jpg) top -320px center no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  padding-bottom: 104px;
}

.home__title-xlarge{
  font-size: 40px;
  line-height: 48px;
}
.home__title-large{
  font-size: 32px;
  line-height: 39px;
}
.home__title-medium{
  font-size: 24px;
  line-height: 30px;
}
.home__title-normal{
  font-size: 20px;
  line-height: 24px;
}

.f-22{
  font-size: 22px;
  line-height: 27px;
}

.home__banner{
  min-height: 580px;
}

.home__banner-title{
  font-size: 54px;
  line-height: 65px;
  margin-bottom: 13px;
}

.home__ecosystem-banner{
  min-height: 194px;
  border: 1px solid #42454E;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
  padding: 20px 24px;
  overflow: hidden;
}

.home__analytics{
  .title{
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.02em;
  }
}
.home__developers{
  .turing__box-right{
    padding: 32px;
  }
  .turing__box-left{
    min-height: 480px;
    padding: 32px;
    border: 1px solid #42454E;
    overflow: hidden;
    -webkit-border-radius: 16px;
       -moz-border-radius: 16px;
            border-radius: 16px;;
  }
}

.turing__box-governance{
  padding: 20px 32px;
}

.turing__box-governance-left{
  padding: 32px;
  overflow: hidden;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
}

.icon-arrow-right{
  width: 18px;
  min-width: 18px;
  fill: #fff;
}