.page__blog {
    background: url(../images/bg.jpg) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 104px 0;
}

.blog__thumb {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    border-radius: 16px;
    overflow: hidden;
    height: 432px;
}

.blog__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 68px;
}

.blog__container {
    max-width: 720px;
    width: 100%;
    margin: 60px auto 0;
}

.pool__list-reponsive {
    overflow-x: auto;
}

.pool__list {
    width: 100%;
    min-width: 600px;
    tr {
        th {
            padding: 6px;
            &:last-child {
                padding-right: 0;
            }
            &:first-child {
                padding-left: 0;
            }
        }
        td {
            padding: 12px 6px;
            vertical-align: middle;
            &:last-child {
                padding-right: 0;
            }
            &:first-child {
                padding-left: 0;
            }
        }
        .speed-mining-TUR {
            background-color: rgb(99, 99, 99);
            margin: 0px 5px;
        }
    }
    .logo {
        min-width: 30px;
        width: 60px;
        .base-coin {
            width: 30px;
            height: 30px;
            margin-bottom: -25px;
        }
        .token-coin {
            width: 30px;
            height: 30px;
            margin-top: -23px;
            margin-left: 20px;
        }
        .coin {
            width: 30px;
            height: 30px;
            margin-left: 10px;
        }
    }
}