@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

*{
  font-family: 'Inter', sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: 300;
}
.wrapper{
  min-height: 100vh;
}
img{
  max-width: 100%;
}


h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}

.color-1{
  color: #7C809D;
}
.color-2{
  color: #9799AD;
}

.color-down{
  color: #D13B3B;
}

.color-up{
  color: #33C600;
}

.f-400{
  font-weight: 400;
}
.f-500{
  font-weight: 500;
}

.f-700{
  font-weight: 700;
}

$spaces: 2, 6, 10, 12, 14, 20, 21, 22, 26, 30, 40, 50;

@each $space in $spaces {
  .mb-#{$space} {
    margin-bottom: #{$space}px;
  }
  .mt-#{$space} {
    margin-top: #{$space}px;
  }
  .mr-#{$space} {
    margin-right: #{$space}px;
  }
  .ml-#{$space} {
    margin-left: #{$space}px;
  }
  .pb-#{$space} {
    padding-bottom: #{$space}px;
  }
  .pt-#{$space} {
    padding-top: #{$space}px;
  }
  .pr-#{$space} {
    padding-right: #{$space}px;
  }
  .pl-#{$space} {
    padding-left: #{$space}px;
  }
}

.f-18{
  font-size: 18px;
  line-height: 28px;
}

.f-14{
  font-size: 14px;
  line-height: 18px;
}

.f-12{
  font-size: 12px;
  line-height: 16px;
}

.turing__button{
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  font-weight: bold;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
  padding: 7px 16px;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  &:hover{
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    color: #000;
  }
}

.turing__box{
  border: 1px solid rgba(255, 255, 255, 0.4);
  overflow: hidden;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
}
.turing__box-1{
  background: #0F1013;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
}

.section{
  padding-top: 104px;
}

.turing__row-1{
  margin: 0 -8px;
  .turing__col-1{
    padding: 0 8px;
  }
}

.height-100{
  height: 100%;
}

.img-cover{
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-background-position{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.p-relative{
  position: relative;
}

.z-index-5{
  z-index: 5;
}

.opacity-5{
  opacity: 0.5;
}

.f-roboto{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0px;
}

.cursor-pointer{
  cursor: pointer;
}