.footer{
  border-top: 1px solid rgba(255,255,255,0.3);
  padding: 24px 0;
  background: #0F1013;
  .navbar-expand-lg{
    padding: 0;
    .navbar-nav.menu-footer{
      .nav-item{
        margin-left: 20px;
      }
      .nav-link{
        color: #fff;
        padding: 0;
      }
    }
  } 
}