@media screen and (min-width: 1200px){
  .container-1{
    max-width: 1300px;
  }
  .container-2{
    max-width: 1170px;
  }
}

@media screen and (max-width: 1440px){
  .page__home{
    background: url(../images/bg-home.jpg) top -50px center no-repeat;
    -webkit-background-size: cover;
      -moz-background-size: cover;
        -o-background-size: cover;
            background-size: cover;
  }
}

@media screen and (max-width: 991px){
  .section{
    padding-top: 60px;
  }
  .footer{
    .navbar-expand-lg{
      .navbar-nav.menu-footer{
        padding: 20px 0 0 0;
        .nav-item{
          margin: 24px 0 0 0;
        }
      }
    } 
  }
  .header{
    background: #0F1013;
    .navbar-expand-lg{
      .navbar-nav.menu-header{
        padding: 20px 0 0 0;
        .nav-item{
          margin: 24px 0 0 0;
        }
      }
      .navbar-nav.menu-header-swap{
        background: transparent;
        padding: 20px 0 0 0;
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
        .nav-item{
          margin: 0 2px;
        }
        .nav-link{
          width: 100%;
          text-align: left;
          padding: 6px 10px;
        }
      }
    } 
  }
}

@media screen and (max-width: 515px){
  .home__analytics{
    .title{
      font-size: 32px;
      line-height: 39px;
    }
  }
  .home__banner {
    min-height: 500px;
    padding: 30px 0;
  }
}