.page__swap{
  background: url(../images/bg-swap.jpg) top center no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  padding: 104px 0;
  .header__btn-connect{
    padding: 14px 10px;
  }
}

.swap__form{
  position: relative;
  .icon-swap{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
         -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
}

.swap__form-item{
  background: #25262D;
  padding: 20px;
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
  .dropdown-toggle{
    background: #0F1013;
    border: 0;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    height: 34px;
    padding: 0 12px;
    width: auto;
    font-size: 16px;
    line-height: 20px;
    color: #fff!important;
    &:after{
      content: "\f078";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      border: 0;
      margin-left: 10px;
      font-size:12px;
    }
    &:focus{
      outline: none!important;
      border: 0!important;
      -webkit-box-shadow: none!important;
         -moz-box-shadow: none!important;
              box-shadow: none!important;
    }
    .swap__form-item-select{
      span{
        top: 0;
      }
    }
    div{
      height: 100%;
    }
    .filter-option-inner-inner{
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  .swap__form-item-select{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    span{
      position: relative;
      top: -2px;
      width: 24px;
      height: 24px;
      display: inline-block;
      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%;
      margin-right: 8px;
    }
  }
}
.swap__form-input{
  border: 0;
  text-align: right;
  outline: none;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  background: transparent;
  display: inline-block;
  width: 100%;
}

.transaction__tooltip{
  position: relative;
  top: -2px;
  &:hover{
    .transaction__tooltip-description{
      display: block;
    }
  }
}

.swap-box{
  background: #25262D;
  border: 1px solid #3D3E46;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.67);
     -moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.67);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.67);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  padding: 10px 16px;
}

.transaction__tooltip-description{
  position: absolute;
  top: 30px;
  right: 0;
  width: 374px;
  z-index: 1;
  display: none;
  .title{
    border-bottom: 1px solid #3D3E46;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
}

.transaction__setting{
  position: relative;
  top: -2px;
}

.transaction__setting-description{
  position: absolute;
  top: 36px;
  right: 0;
  width: 280px;
  z-index: 1;
  display: none;
  &.active{
    display: block;
  }
  .title{
    border-bottom: 1px solid #3D3E46;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 24px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0F1013;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  &:before {
    position: absolute;
    content: "Off";
    width: 34px;
    height: 20px;
    right: 2px;
    bottom: 2px;
    background-color: #1651EF;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    font-family: 'Roboto';
    font-style: 400;
    font-size: 12px;
    line-height: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

input:checked + .slider {
  background-color: #0F1013;
}

input:focus + .slider {
  background-color: #0F1013;
}

input:checked + .slider:before {
  -webkit-transform: translate(-100%,0);
     -moz-transform: translate(-100%,0);
      -ms-transform: translate(-100%,0);
       -o-transform: translate(-100%,0);
          transform: translate(-100%,0);
  content: 'On';
}
.slider.round {
  -webkit-border-radius: 34px;
     -moz-border-radius: 34px;
          border-radius: 34px;
}

.slider.round:before {
  -webkit-border-radius: 24px;
     -moz-border-radius: 24px;
          border-radius: 24px;
}

.input-transaction-deadline{
  background: #0F1013;
  border: 1px solid #3D3E46;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
  width: 48px;
  height: 24px;
  line-height: 24px;
  padding: 4px 8px;
}

.transaction__setting-slippage{
  .btn-auto{
    background: -webkit-gradient(linear, left top, right top, from(#1552EF), to(#5B15EF));
    background: -webkit-linear-gradient(left, #1552EF 0%, #5B15EF 100%);
    background: -moz-linear-gradient(left, #1552EF 0%, #5B15EF 100%);
    background: -o-linear-gradient(left, #1552EF 0%, #5B15EF 100%);
    background: linear-gradient(90deg, #1552EF 0%, #5B15EF 100%);
    -webkit-border-radius: 16px;
       -moz-border-radius: 16px;
            border-radius: 16px;
    padding: 4px 8px;
    outline: none;
    border: 0;
  }
}

.slippage-input{
  position: relative;
  .percent{
    position: absolute;
    right: 8px;
    top: 4px;
    z-index: 1;
  }
}

.input-transaction-slippage{
  width: 100%;
  padding-right: 18px;
}