@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");
* {
    
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

@font-face{font-family:Relative;src:url(/relative-book-pro.woff2)};

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    font-weight: 300;
    font-family: Relative;
}


/* .wrapper {
    min-height: 100vh;
} */

img {
    max-width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.color-1 {
    color: #7C809D;
}

.color-2 {
    color: #9799AD;
}

.color-down {
    color: #D13B3B;
}

.color-up {
    color: #33C600;
}

.f-400 {
    font-weight: 400;
}

.f-500 {
    font-weight: 500;
}

.f-700 {
    font-weight: 700;
}

.mb-2 {
    margin-bottom: 2px;
}

.mt-2 {
    margin-top: 2px;
}

.mr-2 {
    margin-right: 2px;
}

.ml-2 {
    margin-left: 2px;
}

.pb-2 {
    padding-bottom: 2px;
}

.pt-2 {
    padding-top: 2px;
}

.pr-2 {
    padding-right: 2px;
}

.pl-2 {
    padding-left: 2px;
}

.mb-6 {
    margin-bottom: 6px;
}

.mt-6 {
    margin-top: 6px;
}

.mr-6 {
    margin-right: 6px;
}

.ml-6 {
    margin-left: 6px;
}

.pb-6 {
    padding-bottom: 6px;
}

.pt-6 {
    padding-top: 6px;
}

.pr-6 {
    padding-right: 6px;
}

.pl-6 {
    padding-left: 6px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mt-12 {
    margin-top: 12px;
}

.mr-12 {
    margin-right: 12px;
}

.ml-12 {
    margin-left: 12px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pt-12 {
    padding-top: 12px;
}

.pr-12 {
    padding-right: 12px;
}

.pl-12 {
    padding-left: 12px;
}

.mb-14 {
    margin-bottom: 14px;
}

.mt-14 {
    margin-top: 14px;
}

.mr-14 {
    margin-right: 14px;
}

.ml-14 {
    margin-left: 14px;
}

.pb-14 {
    padding-bottom: 14px;
}

.pt-14 {
    padding-top: 14px;
}

.pr-14 {
    padding-right: 14px;
}

.pl-14 {
    padding-left: 14px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.mb-21 {
    margin-bottom: 21px;
}

.mt-21 {
    margin-top: 21px;
}

.mr-21 {
    margin-right: 21px;
}

.ml-21 {
    margin-left: 21px;
}

.pb-21 {
    padding-bottom: 21px;
}

.pt-21 {
    padding-top: 21px;
}

.pr-21 {
    padding-right: 21px;
}

.pl-21 {
    padding-left: 21px;
}

.mb-22 {
    margin-bottom: 22px;
}

.mt-22 {
    margin-top: 22px;
}

.mr-22 {
    margin-right: 22px;
}

.ml-22 {
    margin-left: 22px;
}

.pb-22 {
    padding-bottom: 22px;
}

.pt-22 {
    padding-top: 22px;
}

.pr-22 {
    padding-right: 22px;
}

.pl-22 {
    padding-left: 22px;
}

.mb-26 {
    margin-bottom: 26px;
}

.mt-26 {
    margin-top: 26px;
}

.mr-26 {
    margin-right: 26px;
}

.ml-26 {
    margin-left: 26px;
}

.pb-26 {
    padding-bottom: 26px;
}

.pt-26 {
    padding-top: 26px;
}

.pr-26 {
    padding-right: 26px;
}

.pl-26 {
    padding-left: 26px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mr-30 {
    margin-right: 30px;
}

.ml-30 {
    margin-left: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pt-30 {
    padding-top: 30px;
}

.pr-30 {
    padding-right: 30px;
}

.pl-30 {
    padding-left: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mr-40 {
    margin-right: 40px;
}

.ml-40 {
    margin-left: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pt-40 {
    padding-top: 40px;
}

.pr-40 {
    padding-right: 40px;
}

.pl-40 {
    padding-left: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mr-50 {
    margin-right: 50px;
}

.ml-50 {
    margin-left: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-50 {
    padding-top: 50px;
}

.pr-50 {
    padding-right: 50px;
}

.pl-50 {
    padding-left: 50px;
}

.f-18 {
    font-size: 18px;
    line-height: 28px;
}

.f-14 {
    font-size: 14px;
    line-height: 18px;
}

.f-12 {
    font-size: 12px;
    line-height: 16px;
}

.logo img:hover {
    cursor: pointer;
}

.garbi__button {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    font-weight: bold;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 7px 16px;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.garbi__button:hover {
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    color: #000;
}

.garbi__box {
    border: 1px solid rgba(255, 255, 255, 0.4);
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 16px;
}

.garbi__box-1 {
    background: #0F1013;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}

.section {
    padding-top: 104px;
}

.garbi__row-1 {
    margin: 0 -8px;
}

.garbi__row-1 .garbi__col-1 {
    padding: 0 8px;
}

.height-100 {
    height: 100%;
}

.img-cover {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.bg-background-position {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.p-relative {
    position: relative;
}

.z-index-5 {
    z-index: 5;
}

.opacity-5 {
    opacity: 0.5;
}

.f-roboto {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
}

.cursor-pointer {
    cursor: pointer;
}

.navbar-toggler {
    color: #fff;
}

.header {
    padding: 24px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.header.sticky-header {
    background: #0F1013;
}

.header .navbar-expand-lg {
    padding: 0;
}

.header .navbar-expand-lg .navbar-nav.menu-header .nav-item {
    margin-left: 24px;
}

.header .navbar-expand-lg .navbar-nav.menu-header .nav-link {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    display: inline-block;
}

.header .navbar-expand-lg .navbar-nav.menu-header-swap {
    background: #0F1013;
    padding: 4px 2px;
    border-radius: 16px;
}

.header .navbar-expand-lg .navbar-nav.menu-header-swap .nav-item {
    margin: 0 2px;
}

.header .navbar-expand-lg .navbar-nav.menu-header-swap .nav-item.active .nav-link {
    background: #25262D;
    font-weight: bold;
    color: #fff;
}

.header .navbar-expand-lg .navbar-nav.menu-header-swap .nav-item:hover .nav-link {
    background: #25262D;
    font-weight: bold;
    color: #fff;
}

.header .navbar-expand-lg .navbar-nav.menu-header-swap .nav-link {
    color: #7C809D;
    font-size: 16px;
    line-height: 20px;
    padding: 6px 20px;
    text-align: center;
    border-radius: 12px;
    display: inline-block;
}

.header__btn-connect {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: rgb(45, 66, 252);
    border-radius: 16px;
    padding: 10px 10px;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 0;
    outline: none;
}

.header__btn-connect:hover {
    background: #fff;
    color: #3c71ff;
}

.garbi-button-disable:hover {
    color: white !important;
}

.header__btn-swap {
    border: 0;
    background: #0F1013;
    border-radius: 16px;
    outline: none;
    color: #fff;
    font-size: 18px;
    padding: 8px 10px;
    display: inline-block;
}

.navbar-toggler {
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.button-launch {
    background: -webkit-gradient(linear, left top, right top, from(#1552EF), to(#5B15EF));
    background: linear-gradient(90deg, #1552EF 0%, #5B15EF 100%);
    border-radius: 16px;
    padding: 7px 16px !important;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
}

.button-launch:hover {
    color: #5B15EF !important;
    background: #fff;
}

.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 24px 0;
    background: #0F1013;
}

.footer .navbar-expand-lg {
    padding: 0;
}

.footer .navbar-expand-lg .navbar-nav.menu-footer .nav-item {
    margin-left: 20px;
}

.footer .navbar-expand-lg .navbar-nav.menu-footer .nav-link {
    color: #fff;
    padding: 0;
}

.page__home {
    background: url(../images/bg-home.jpg) top -320px center no-repeat;
    background-size: cover;
    padding-bottom: 104px;
}

.home__title-xlarge {
    font-size: 40px;
    line-height: 48px;
}

.home__title-large {
    font-size: 32px;
    line-height: 39px;
}

.home__title-medium {
    font-size: 24px;
    line-height: 30px;
}

.home__title-normal {
    font-size: 20px;
    line-height: 24px;
}

.f-22 {
    font-size: 22px;
    line-height: 27px;
}

.home__banner {
    min-height: 300px;
}

.home__banner-title {
    font-size: 54px;
    line-height: 65px;
    margin-bottom: 13px;
}

.home__ecosystem-banner {
    min-height: 194px;
    border: 1px solid #42454E;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 20px 24px;
    overflow: hidden;
}

.home__analytics .title {
    font-weight: bold;
    font-size: 37px;
    line-height: 58px;
    letter-spacing: -0.02em;
}

.home__developers .garbi__box-right {
    padding: 32px;
}

.home__developers .garbi__box-left {
    min-height: 480px;
    padding: 32px;
    border: 1px solid #42454E;
    overflow: hidden;
    border-radius: 16px;
}

.garbi__box-governance {
    padding: 20px 32px;
}

.garbi__box-governance-left {
    padding: 32px;
    overflow: hidden;
    border-radius: 16px;
}

.icon-arrow-right {
    width: 18px;
    min-width: 18px;
    fill: #fff;
}

.page__blog {
    background: url(../images/bg.jpg) top center no-repeat;
    background-size: cover;
    padding: 104px 0;
}

.blog__thumb {
    border-radius: 16px;
    border-radius: 16px;
    overflow: hidden;
    height: 432px;
}

.blog__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 68px;
}

.blog__container {
    max-width: 720px;
    width: 100%;
    margin: 60px auto 0;
}

.pool__list-reponsive {
    overflow-x: auto;
}

.pool__list {
    width: 100%;
    min-width: 600px;
}

.pool__list tr th {
    padding: 6px;
}

.pool__list tr th:last-child {
    padding-right: 0;
}

.pool__list tr th:first-child {
    padding-left: 0;
}

.pool__list tr td {
    padding: 12px 6px;
    vertical-align: middle;
}

.pool__list tr td:last-child {
    padding-right: 0;
}

.pool__list tr td:first-child {
    padding-left: 0;
}

.pool__list tr .speed-mining-TUR {
    background-color: #636363;
    margin: 0px 5px;
}

.pool__list .logo {
    min-width: 30px;
    width: 60px;
}

.pool__list .logo .base-coin {
    width: 30px;
    height: 30px;
    margin-bottom: -25px;
}

.pool__list .logo .token-coin {
    width: 30px;
    height: 30px;
    margin-top: -23px;
    margin-left: 20px;
}

.pool__list .logo .coin {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.page__swap {
    background: url(../images/bg-swap.jpg) top center no-repeat;
    background-size: cover;
    padding: 104px 0;
    min-height: calc(100vh - 73px);
}

.page__swap .header__btn-connect {
    padding: 14px 10px;
}

.swap__form {
    position: relative;
}

.swap__form .icon-swap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.swap__form-item {
    background: #25262D;
    padding: 20px;
    border-radius: 12px;
}

.swap__form-item .dropdown-toggle {
    background: #0F1013;
    border: 0;
    border-radius: 8px;
    height: 34px;
    padding: 0 12px;
    width: auto;
    font-size: 16px;
    line-height: 20px;
    color: #fff !important;
}

.swap__form-item .dropdown-toggle:after {
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    border: 0;
    margin-left: 10px;
    font-size: 12px;
}

.swap__form-item .dropdown-toggle:focus {
    outline: none !important;
    border: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.swap__form-item .dropdown-toggle .swap__form-item-select span {
    top: 0;
}

.swap__form-item .dropdown-toggle div {
    height: 100%;
}

.swap__form-item .dropdown-toggle .filter-option-inner-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.swap__form-item .swap__form-item-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.swap__form-item .swap__form-item-select span {
    position: relative;
    top: -2px;
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 8px;
}

.swap__form-input {
    border: 0;
    text-align: right;
    outline: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    background: transparent;
    display: inline-block;
    width: 100%;
}

.transaction__tooltip {
    position: relative;
    top: -2px;
}

.transaction__tooltip:hover .transaction__tooltip-description {
    display: block;
}

.swap-box {
    background: #25262D;
    border: 1px solid #3D3E46;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.67);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.67);
    border-radius: 8px;
    padding: 10px 16px;
}

.transaction__tooltip-description {
    position: absolute;
    top: 30px;
    right: 0;
    width: 374px;
    z-index: 1;
    display: none;
}

.transaction__tooltip-description .title {
    border-bottom: 1px solid #3D3E46;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.transaction__setting {
    position: relative;
    top: -2px;
}

.transaction__setting-description {
    position: absolute;
    top: 36px;
    right: 0;
    width: 280px;
    z-index: 1;
    display: none;
}

.transaction__setting-description.active {
    display: block;
}

.transaction__setting-description .title {
    border-bottom: 1px solid #3D3E46;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 72px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0F1013;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.slider:before {
    position: absolute;
    content: "Off";
    width: 34px;
    height: 20px;
    right: 2px;
    bottom: 2px;
    background-color: #1651EF;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-family: 'Roboto';
    font-style: 400;
    font-size: 12px;
    line-height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

input:checked+.slider {
    background-color: #0F1013;
}

input:focus+.slider {
    background-color: #0F1013;
}

.ctmenu-item {
    /* background-color: #4CAF50; */
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.ctmenu-sub {
    margin: 5px 0px 0px -80px;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.ctmenu-sub a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.ctmenu-sub a:hover {
    background: #25262D;
    font-weight: 1000;
    color: #fff;
    cursor: pointer;
}

input:checked+.slider:before {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    content: 'On';
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 24px;
}

.input-transaction-deadline {
    background: #0F1013;
    border: 1px solid #3D3E46;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 16px;
    width: 48px;
    height: 24px;
    line-height: 24px;
    padding: 4px 8px;
}

.transaction__setting-slippage .btn-auto {
    background: -webkit-gradient(linear, left top, right top, from(#1552EF), to(#5B15EF));
    background: linear-gradient(90deg, #1552EF 0%, #5B15EF 100%);
    border-radius: 16px;
    padding: 4px 8px;
    outline: none;
    border: 0;
}

.slippage-input {
    position: relative;
}

.slippage-input .percent {
    position: absolute;
    right: 8px;
    top: 4px;
    z-index: 1;
}

.input-transaction-slippage {
    width: 100%;
    padding-right: 18px;
}

@media screen and (min-width: 1200px) {
    .container-1 {
        max-width: 1300px;
    }
    .container-2 {
        max-width: 1170px;
    }
    .container-3 {
        max-width: 750px;
    }
    /* .ctmenu-sub {
        margin-left: -6%;
    } */
}

@media screen and (max-width: 1440px) {
    .page__home {
        background: url(../images/bg-home.jpg) top -50px center no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 991px) {
    .page__home {
        background: url(../images/bg-home.jpg) top 0px center no-repeat;
        background-size: cover;
    }
    .wrapper {
        width: 100%;
        min-width: fit-content;
        max-height: auto;
    }
    .section {
        padding-top: 60px;
    }
    .footer .navbar-expand-lg .navbar-nav.menu-footer {
        padding: 20px 0 0 0;
    }
    .footer .navbar-expand-lg .navbar-nav.menu-footer .nav-item {
        margin: 24px 0 0 0;
    }
    .header {
        background: #0F1013;
    }
    .header .navbar-expand-lg .navbar-nav.menu-header {
        padding: 20px 0 0 0;
    }
    .header .navbar-expand-lg .navbar-nav.menu-header .nav-item {
        margin: 24px 0 0 0;
    }
    .header .navbar-expand-lg .navbar-nav.menu-header .nav-link {
        font-size: 16px;
        line-height: 20px;
        padding: 6px 20px;
        text-align: center;
        border-radius: 12px;
        display: inline-block;
    }
    .header .navbar-expand-lg .navbar-nav.menu-header .nav-item:hover .nav-link {
        background: #25262D;
        font-weight: bold;
        color: #fff;
    }
    .header .navbar-expand-lg .navbar-nav.menu-header-swap {
        background: transparent;
        padding: 20px 0 0 0;
        border-radius: 0;
    }
    .header .navbar-expand-lg .navbar-nav.menu-header-swap .nav-item {
        margin: 0 2px;
    }
    .header .navbar-expand-lg .navbar-nav.menu-header-swap .nav-link {
        width: 100%;
        text-align: left;
        padding: 6px 10px;
    }
    /* .ctmenu-sub {
        margin-left: -6%;
    } */
}

@media screen and (max-width: 520px) {
    .wrapper {
        width: 100%;
        min-width: 400px;
        max-height: max-content;
    }
    .blog__container {
        max-width: 400;
        width: 100%;
        margin: 60px auto 0;
    }
    .pool__list {
        width: 100%;
        min-width: 350px;
    }
    .pool__list .logo {
        min-width: 30px;
        width: 60px;
        margin-right: 15px;
    }
    .pool__list .logo .base-coin {
        width: 30px;
        height: 30px;
        margin-bottom: -25px;
    }
    .pool__list .logo .token-coin {
        width: 30px;
        height: 30px;
        margin-top: -23px;
        margin-left: 20px;
    }
    .pool__list .logo .coin {
        width: 30px;
        height: 30px;
        margin-left: 0px;
    }
    .pool__list .info {
        width: 100%;
    }
    .home__analytics .title {
        font-size: 32px;
        line-height: 39px;
    }
    .home__banner {
        min-height: 500px;
        padding: 30px 0;
    }
    /* .ctmenu-sub {
        margin-left: -15%;
    } */
}
/*@media (max-width: 991px) {
    .home__assets-table {
        display: none;
    }
    .token-grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1.5rem;
        margin-top: 0.8rem;
    }
}*/
.addlp__form-item {
    padding: 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    width: 220px;
}

.addlp__form-item .dropdown-toggle {
    background: #0F1013;
    border: 0;
    border-radius: 8px;
    height: 34px;
    padding: 0 12px;
    width: auto;
    font-size: 16px;
    line-height: 20px;
    color: #fff !important;
}

.addlp__form-item .dropdown-toggle:after {
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    border: 0;
    margin-left: 10px;
    font-size: 12px;
}

.addlp__form-item .dropdown-toggle:focus {
    outline: none !important;
    border: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.addlp__form-item .dropdown-toggle .addLp__form-item-select span {
    top: 0;
}

.addlp__form-item .dropdown-toggle div {
    height: 100%;
}

.addlp__form-item .dropdown-toggle .filter-option-inner-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.addlp__form-item .addLp__form-item-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.addlp__form-item .addLp__form-item-select span {
    position: relative;
    top: -2px;
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 8px;
}

.currency-laybal .token-icon {
    margin: 10px;
    width: 30px;
    height: 30px;
}


/* .currency-laybal .token-name,
.currency-laybal .max-token-input {
    padding: 8px;
} */

.currency-laybal .maxBalanceCoin {
    background-color: #0F1013;
    border: none;
    color: #fff !important;
}

.addLp__form_input {
    background: #25262D;
    padding: 20px;
    border-radius: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.table-farm .tbody tr:hover {
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.btn-approve,
.btn-deposit,
.btn-harvest,
.btn-withdraw,
.btn-remove {
    width: 100%;
}

#confirm-popup {
    font-family: Relative !important;
    width: 25em !important;
    top: 90px !important;
    font-size: 20px !important;
    text-align: center;
}

#confirm-popup a, #success-confirm-popup a {
    color: black;
    text-decoration: underline;
}

#success-confirm-popup {
    font-family: Relative !important;
    width: 21em !important;
    top: 90px !important;
    font-size: 20px !important;
    text-align: center;
}

.masthead {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2.25rem 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.masthead .header-display {
    cursor: pointer;
}
.masthead__overview-details {
    align-items: center;
    display: flex;
}
.masthead__action-buttons, .masthead .meta {
    display: flex;
    align-items: center;
}
.text-color-supply {
    color: #00c289;
    margin-bottom: 0;
}
.text-color-3 {
    color:#516070;
}
.meta {
    font-size: .8125rem;
}
.masthead__overview-details .meta+.meta {
    margin: 0 0 0 0.5rem;
}
.masthead__balance-value {
    display: flex;
}
.masthead .heading--emphasized {
    display: flex;
    align-items: center;
    line-height: 52px;
    margin: 0.25rem 0;
}
.heading--emphasized p {
    margin-bottom: 4px;
}
.masthead .toggle-icon-wrapper {
    margin-right: 10px;
}
.icon--centered {
    align-items: center;
}
.icon {
    display: flex;
    vertical-align: top;
    flex-wrap: nowrap;
}
.icon .token-coin {
    width: 36px;
    height: 36px;
}
.asset {
    flex-shrink: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
}
.text-color-2 {
    color:#7A8A99;
}
.text-color-1 {
    color:#fff;
}
.masthead__action-buttons button:disabled, .button:disabled {
    background-color:#10171F;
    border: 0.5px solid #10171F;
    color: #516070;
    cursor: auto;
}

.masthead__action-buttons button--large, .button--large {
    padding: 0rem 1rem;
    height: 2.75rem;
}
.masthead__action-buttons button, .button {
    align-items: center;
    border-radius: 3.625rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: .6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    transition: background-color .25s ease,height .25s ease;
    min-width: 6.45rem;
}
.masthead__action-buttons button:disabled i, .button:disabled i {
    font-size: 13px;
    margin-right: 0.5rem;
}
.masthead__action-buttons button:disabled .label, .button:disabled .label {
    cursor: auto;
    pointer-events: inherit;
    font-size: .8125rem;
    font-weight: bold;
}
.masthead__action-buttons button+button, button+.button, .button+button, .button+.button {
    margin-left: 1rem;
}
.home__assets-table {
    margin-bottom: 1.5rem;
}
.home__assets-table .token-table {
    width: 100%;
    font-size: 1.5rem;
}
.token-table thead {
    font-size: .6875rem;
}
.token-table tbody {
    font-size: .9375rem;
}
.token-table tbody td {
    padding: 10px;
    padding-left: 0;
    font-size: 14px;
}
.token-table td:last-child, .token-table th:last-child {
    padding-right: 0;
    text-align: right;
 }
.action-btn {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: rgb(45, 66, 252);
    border-radius: 16px;
    padding: 10px 10px;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 0;
    outline: none;
    width: 100%;
 }
 .action-btn:hover {
    background: #fff;
    color: #3c71ff;
 }
.panel__header-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.875rem;
    padding-right: 8.5rem;
}
.panel__header-row label{
    font-size: .6875rem;
}
.asset-row {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 0.5rem;
    padding: 1.125rem 0;
}
.asset-row__hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40%;
    background: var(--ui--foreground--2);
    border-radius: 0.5rem;
    opacity: 0;
    transition: opacity .3s ease;
    z-index: 1;
}
.asset-row__detail-content {
    align-items: center;
    display: flex;
    width: 60%;
    z-index: 5;
    cursor: pointer;
}
.asset-row__info {
    margin-left: 0.75rem;
    width: 100%;
}
.asset-row__info p {
    font-size: .9375rem;
    margin-bottom: 0;
}
.asset-row .meta {
    color: #7A8A99;
    min-height: 1.25rem;
}
.asset-row__balance {
    width: calc(40% - 7.25rem);
    margin-left: auto;
    text-align: right;
}
.asset-row__balance p {
    margin-bottom: 0;
    color: #516070;
    font-size: .9375rem;
}
.asset-row__actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    white-space: nowrap;
    width: 7.25rem;
    text-align: right;
}
button--circle, .button--circle {
    width: 2.75rem;
    min-width: 2.75rem;
    max-width: 2.75rem;
    height: 2.75rem;
    min-height: 2.75rem;
    max-height: 2.75rem;
}
button--circle:disabled, .button--circle:disabled {
    opacity: .9;
}
span.mobile-only {
    display: none;
}
button--circle, .button--circle i {
    margin-right: 0!important;
}
.buy-sell__main {
    margin-bottom: 1.5rem;
}
.buy-sell__main .text-end,.buy-sell__main input.swap__form-input {
    text-align: left!important;
}
.buy-sell__main .swap__form-select {
    width: 130px!important;
}
.fees-area {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}
.fees-area p {
    margin-bottom: 0;
}
.position-card__wallet-balance .position-card__row {
    padding-top: 0;
    padding:0 1.125rem;
    padding-bottom: 1.25rem;
}
.position-card__wallet-balance .position-card__row__info {
    gap: 0.75rem;
    align-items: center;
    display: flex;
}
.position-card__wallet-balance .position-card__row__info img {
    width: 36px;
    height: 36px;
}
.divider {
    margin: 0.25rem 0;
    width: 100%;
    height: 1px;
    border-bottom: solid 1px rgba(249, 250, 251, .15);
}
.position-card__row .body {
    color: #fff;
    margin-bottom: 0;
}
.position-card__row__balance {
    margin-left: auto;
    text-align: right;
}
.position-card__row__balance p--link, .body--link {
    font-size:.9375rem;
}
.position-card__row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}
/*# sourceMappingURL=style.css.map */